@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html,
body {
  padding: 0;
  margin: 1em;
  font-family: Poppins, sans-serif;
  color: #383838;
  background-color: #fcfbff;
  --main-blue-color: #4798cf;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
