@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.container {
  /* min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; */
  padding: 0 5em 0 5em;
}

.navbar {
  padding-bottom: 0.5em;
  border-bottom: 1px solid #383838;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.navbarLinks {
  font-size: 0.8em;
  display: flex;
  align-items: center;
}

.company {
  display: flex;
  justify-content: space-evenly;
  /* width: 9em; */
}

.company > .logo {
  margin-right: 0.5em !important;
  transform: translateY(0.2em);
}

.main {
  /* padding: 5rem 0;
  flex: 1; */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1em;
  /* align-items: center; */
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: space-evenly;
  align-items: left;
  flex-direction: column;
  opacity: 0.6;
  font-size: 0.7em;
}

/* .instructions {
  width: 50%;
} */

/* .nearestHospitals {
  width: 50%;
} */

.hospitalCard,
.locationCard {
  min-width: 400px;
  max-width: 500px;
  display: flex;
  justify-content: space-evenly;
  border: 1px solid white;
  padding: 3%;
  margin: 40px 0 40px 20px;
  width: 90%;
  height: 12em;
  border-radius: 25px;
  background-color: white;
  filter: drop-shadow(0 0.5rem 0.5rem rgba(0, 0, 0, 0.2));
  transition: all 0.2s;
  /* drop-shadow(offset-x offset-y blur-radius color) */
}

.hospitalCard:hover,
.locationCard:hover {
  /* border: 1px solid #237ae1; */
  /* color: #237ae1; */
  transform: translateY(-2px);
  filter: drop-shadow(0 1rem 1rem rgba(0, 0, 0, 0.2));
}

.cardLeft {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  line-height: 1.5;
  padding-right: 1em;
}

.cardRight {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.subtext {
  font-size: 0.8em;
  opacity: 0.6;
}

.businessInfo {
  font-size: 0.85em;
  opacity: 0.6;
  display: flex;
  justify-content: space-between;
}

.rating {
  font-size: 0.8em;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

.lightButton {
  font-family: Poppins, sans-serif;
  background-color: white;
  border: 1px solid #237ae1;
  border-radius: 25px;
  color: #237ae1;
  /* padding: 0.7em 3em; */
  width: 45%;
  height: 100%;
  padding: 0.65em;
  transition: all 0.3s;
}

.darkButton {
  font-family: Poppins, sans-serif;
  background-color: #237ae1;
  border: 1px solid #237ae1;
  border-radius: 25px;
  color: white;
  width: 45%;
  height: 100%;
  transition: all 0.3s;
}

.getLocationButton {
  font-family: Poppins, sans-serif;
  background-color: #237ae1;
  border: 1px solid #237ae1;
  border-radius: 25px;
  color: white;
  padding: 1em;
  transition: all 0.3s;
}

.refreshButton {
  font-family: Poppins, sans-serif;
  background-color: transparent;
  border: none;
  border-radius: 25px;
  color: #237ae1;
}

.refreshButton:hover {
  color: gray;
}

button:active.darkButton,
button:active.getLocationButton {
  color: rgba(0, 112, 243, 1);
  background-color: rgba(0, 112, 243, 0.2);
  transition: all 0.3s;
}

button:active.lightButton {
  background-color: rgba(0, 112, 243, 0.8);
  color: white;
  transition: all 0.3s;
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 0;
  }

  .hospitalCard {
    min-width: 400px;
  }

  .hospitalName,
  .miles {
    font-size: 0.9em;
  }

  .address,
  .businessInfo {
    font-size: 0.75em;
  }
}

@media screen and (max-width: 800px) {
  .container {
    padding: 0;
  }

  .main {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .container {
    padding: 0;
  }

  .hospitalCard {
    min-width: 350px;
  }
}

/* for mobile */
@media screen and (max-width: 375px) {
  .container {
    padding: 0;
  }

  .main {
    padding: 0;
  }

  .hospitalCard,
  .locationCard {
    min-width: 100%;
    margin: 20px 0 40px 0;
    padding: 5%;
  }

  .hospitalCard:hover,
  .locationCard:hover {
    /* border: 1px solid #237ae1; */
    /* color: #237ae1; */
    transform: translateY(0px);
    filter: drop-shadow(0 0.5rem 0.5rem rgba(0, 0, 0, 0.2));
  }

  .hospitalName {
    font-size: 0.8em;
  }

  .subtext,
  .businessInfo {
    font-size: 0.7em;
  }

  .darkButton,
  .lightButton {
    font-size: 0.8em;
  }
}
